<h1>Posts</h1>

<%= link_to "New Post", new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>

<%= paginate @posts %>


<% if author_signed_in? %>
  <li> <%= link_to('Logout', destroy_author_session_path, :method => :delete) %> </li>
<% else %>
  <li> <%= link_to('Login', new_author_session_path) %> </li>
<% end %>